* {
    margin: 0;
    padding: 0;
}

:root, body {
    width: 100%;
    height: 100%;

    font-family: "Noto Serif";

    --primary-color: #40464D;
    --primary-gray: #2F2F2F;
    --light-gray: #3C3D41;
    --border-color: #747474;


    --p-font-size: 16px;
    --p-font-weight: 300;
}

h1 {
    font-family: "Noto Serif";
    font-size: 36px;
    font-weight: 600;
    color: white;
}

h2 {
    font-family: "Noto Serif";
    font-size: 24px;
    font-weight: 400;
    color: white;
}

p {
    font-family: "Noto Serif";
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
    color: white;
}

input {
    appearance: none;
    border: 1px solid var(--border-color);
    background-color: var(--light-gray);
    font-family: "Noto Serif";
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    user-select: none;
}