#main {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
}

#container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100%;
}

#search {
    flex: 1;
}