#main {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
}

#container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100%;
}

#search {
    flex: 1;
    display: flex;
    gap: 40px;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search_bar {
    width: 750px;
    border-radius: 24px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    resize: none;
    overflow: auto;
}