#container {
    display: flex;
    flex-direction: column;

    gap: 10px;

    width: 235px;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--primary-gray);
    padding: 20px 10px 20px 10px;
}

#notebooks {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    gap: 10px;
}

#search_bar {
    border-radius: 16px;
    height: 32px;
    color: #FFFFFF84;
    box-sizing: border-box;
    padding-left: 12px;
}