#notebook {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
}

#notebook:hover {
    cursor: pointer;
    border: 1px solid var(--border-color);
}

.inline {
    display: inline;
}

#arrow {
    width: 24px;
    height: 24px;
    float: right;
    color: #FFFFFF56;
}

#materials {
    box-sizing: border-box;
    margin-left: 10px;
    padding-left: 5px;
    border-left: 1px solid var(--border-color);
}

@keyframes arrow_expand {
    from {transform: rotate(0deg); }
    to {transform: rotate(90deg); }
}

@keyframes arrow_unexpand {
    from { transform: rotate(90deg); }
    to { transform: rotate(0deg); }
}

.expanded_arrow {
    animation-name: arrow_expand;
    animation-duration: 0.25s;
    animation-fill-mode: both;
}

.unexpanded_arrow {
    animation-name: arrow_unexpand;
    animation-duration: 0.25s;
    animation-fill-mode: both;
}
